header {
    
   
    padding: 1rem;
    text-align: center;
    position: relative;
}
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


nav ul li img{
    width: 200px;
    height: 80px;
}