body{
    width:100wh;
    height: 100vh;
    background-image: url("wp4323509.jpg");
    background-size:cover;
    mask-repeat: no-repeat;
    margin-left: 90px;
    margin-right: 90px;
    font-size: larger;
    font-family: Arial, sans-serif;
}

label{
    font-size:m;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: white;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
               
input[type=submit]{
    font-size: larger;
}
.tb1 {
    border-radius: 7px;
    width: 250px;
    height: 20px;
    
}

.btn{
    border-radius: 7px;
    width: 100px;
    height: 30px;
}
